<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="6e3fb607-d807-458e-89b7-5d67ddb8df8d"
    Publisher="CN=Akutapi"
    Version="0.1.0.0" />

  <Properties>
    <DisplayName>StroJToolsServiceInstaller</DisplayName>
    <PublisherDisplayName>Akutapi</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="StroJ Tools Service"
        Description="Stroj Tools Service is a Windows service designed for maintenance tasks on servers with decentralized Stroj storage. It supports multiple nodes on a single server, ensuring efficient management and operation."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="localSystemServices" />
    <rescap:Capability Name="packagedServices" />
  </Capabilities>

  <Extensions>
    <desktop6:Extension Category="windows.service" EntryPoint="Windows.FullTrustApplication" Executable="StrojToolsService.exe">
      <desktop6:Service Name="Stroj Tools Service" StartAccount="localSystem" StartupType="auto"/>
    </desktop6:Extension>
  </Extensions>
  
</Package>
