<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Installer" Version="0.1.0.0" Manufacturer="Akutapi" UpgradeCode="dd7113e5-c756-4a34-b56f-f17948ff4855">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl="https://opensource.org/licenses/MIT" />
    </BootstrapperApplicationRef>

    <util:RegistrySearch Id="ServiceInstalledSearch"
                         Root="HKLM"
                         Key="SYSTEM\CurrentControlSet\Services\StroJLogService"
                         Value="Installed"
                         Variable="ServiceInstalled" />

    <Chain>
      <ExePackage Id="InstallExe"
                  SourceFile="..\x64\Release\StroJLogService.exe"
                  DetectCondition="NOT ServiceInstalled"
                  InstallCommand="AdminUser AND NOT ServiceInstalled">
      </ExePackage>

      <ExePackage Id="InstallYaml"
                  SourceFile="config.yaml"
                  DetectCondition="NOT ServiceInstalled"
                  InstallCommand="AdminUser AND NOT ServiceInstalled">
      </ExePackage>

      <ExePackage Id="UpdateExe"
                  SourceFile="..\x64\Release\StroJLogService.exe"
                  DetectCondition="ServiceInstalled"
                  InstallCommand="AdminUser AND ServiceInstalled">
      </ExePackage>
    </Chain>
  </Bundle>

  <Fragment>
    <CustomAction Id="InstallServiceAction"
                  Directory="TARGETDIR"
                  ExeCommand="sc create StroJLogService binPath= &quot;[TARGETDIR]StroJLogService.exe&quot; start= auto"
                  Return="check" />
    <CustomAction Id="StartServiceAction"
                  Directory="TARGETDIR"
                  ExeCommand="sc start StroJLogService"
                  Return="check" />

    <CustomAction Id="StopServiceAction"
                  Directory="TARGETDIR"
                  ExeCommand="sc stop StroJLogService"
                  Return="check" />
    <CustomAction Id="RestartServiceAction"
                  Directory="TARGETDIR"
                  ExeCommand="sc start StroJLogService"
                  Return="check" />

    <CustomAction Id="UninstallServiceAction"
                  Directory="TARGETDIR"
                  ExeCommand="sc delete StroJLogService"
                  Return="check" />

    <InstallExecuteSequence>
      <Custom Action="InstallServiceAction" After="InstallFiles AND NOT ServiceInstalled" />
      <Custom Action="StartServiceAction" After="InstallServiceAction AND NOT ServiceInstalled" />
      <Custom Action="StopServiceAction" Before="InstallFiles AND ServiceInstalled" />
      <Custom Action="RestartServiceAction" After="StopServiceAction AND ServiceInstalled" />
      <Custom Action="UninstallServiceAction" Before="RemoveFiles AND REMOVE='ALL' AND ServiceInstalled" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
